<!DOCTYPE html>
<html lang="en">
<head>
    <title>404</title>

    <link rel="icon" href="../../image/weather.png">
    <link rel="stylesheet" href="../../css/styles.css">

</head>
<body>

    <div class="container">
        {{>header}}
    </div>
        <p>{{errorMessage}}</p>
    {{>footer}}
</body>
</html>
