<!DOCTYPE html>
<html lang="en">
<head>
    <title>Help</title>

    <link rel="icon" href="../../image/weather.png">
    <link rel="stylesheet" href="../../css/styles.css">
    <script src="../../js/app.js"></script>
</head>
<body >

    <div class="container">

        {{>header}}
        <p> Some helpful text. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, aut blanditiis consequatur delectus deserunt laudantium molestiae nam necessitatibus nostrum pariatur placeat quaerat quia, quibusdam quidem sint totam ullam ut voluptates.</p>
    </div>

    {{>footer}}
</body>
</html>
